
body {

margin:0px;
padding:0px;
}

.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.container div {
  box-sizing: border-box;
  min-width: 150px;
}

.header {
  width: 100%;
  min-height: 150px;
  padding-left:22%;
  padding-right: 15%;
  padding-bottom:3%;
  padding-top:3%;

  
}
.header-left {
  height:100%;
  width: 40%;
  float:left;

}

.header-right{
  height:100%;
  width: 40%;
  float:right;
  
}
.grid-item a {
  color: #595959;
  text-decoration: none;
  padding:2px;
  line-height: 1.6;
  font-size: 32px;
}
.aboutme a:hover{
color:black;}
.gl :hover{
  color:black;
}

.content {
  width: 75%;
  margin:auto;

}
.aboutme{
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #EAEAEA;
  padding:5%;
  margin-bottom:2%;
}

.informations{
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #EAEAEA;
  padding:5%;
  margin-bottom:2%;
  overflow:auto; 
}
.linfo{
  height: 100%;
  float:left;
  width: 50%;
}

.rinfo{
  height: 100%;
  float:right;
  width: 50%

}

.skills{
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #EAEAEA;
  padding:5%;
  margin-bottom:2%;
  overflow:auto; 
}
.lskill{
  height: 100%;
  float:left;
  width: 50%;
}

.rskill{
  height: 100%;
  float:right;
  width: 50%

}


.character{
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #EAEAEA;
  padding:5%;
  margin-bottom:2%;
  overflow:auto; 
}
.lcharacter{
  height: 100%;
  float:left;
  width: 50%;
}

.rcharacter{
  height: 100%;
  float:right;
  width: 50%

}



@media (min-width: 600px) {
  .header {
    width: 100%;
    min-height: 150px;
    -webkit-order: 21;
    order: 1;
  }

 .content {
    padding-left: 4%;
    padding-right: 10%; 
    width: 75%;
    min-height: 100%;
    -webkit-order: 2;
    order: 2;
  }

}

@media (min-width: 800px) {
  
  .header {
    width: 100%;
    min-height: 250px;
    -webkit-order: 21;
    order: 1;
    
  }

  .content {
    width: 75%;
    margin:auto;
    min-height: 150px;
    padding-right: 4%;
    -webkit-order: 2;
    order: 2;
  }

 
}

h1{
    font-family: 'Roboto Condensed', sans-serif;
    color: #595959;
    font-size: 32px;
    padding-top: 5%;
    padding-bottom: 2%;
    margin: 0;
}

@media all and (max-width: 600px) {
  .linfo{
    height: 100%;
    float:none;
    width: 100%;
  }
  .rinfo h1{
    display: none;
  }
  .rinfo{
    height: 100%;
    float:none;
    width: 100%
  
  }

.header{
  display: none
}
  
  }
    
    h1{
    font-family: 'Roboto Condensed', sans-serif;
    color: #595959;
    font-size: 23px;
    padding: 3%;
    margin: 0;
    padding-left:0%;
}


h2{
    font-family: 'Roboto Condensed', sans-serif;
    color:#F7F7F7;
    font-size: 16px;
    padding: 14px;
    margin: 0;
    text-align: center;
}

p{
    font-family: 'Roboto Condensed', sans-serif;
    color: #424242;
    font-size: 15px;
    line-height: 1.6em;
    padding-bottom: 0;
}

@media all and (max-width: 600px) {
  .linfo{
    height: 100%;
    float:none;
    width: 100%;
  }
  .rinfo h1{
    display: none;
  }
  .rinfo{
    height: 100%;
    float:none;
    width: 100%
  
  }
    
    p{
    font-family: 'Roboto Condensed', sans-serif;
    color: #424242;
    font-size: 11px;
    padding: 3%;
    margin: none;
    line-height: 1.6em;
}
}

.navigation {
  list-style: none;
  padding-right: 15%;
  margin: 0;
  background: #A6A6A6;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navigation a {
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  display: block;
  padding: 1.2em;
  color: white;
  
}

.navigation a:hover {
  background: #BDBDBD;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}
@media all and (max-width: 600px) {


  .navigation a {
    text-align: center;
    padding: 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}


@media all and (max-width: 600px) {
  .linfo{
    height: 100%;
    float:none;
    width: 100%;
  }
  .rinfo h1{
    display: none;
  }
  .rinfo{
    height: 100%;
    float:none;
    width: 100%
  
  }
}
#footer{
   padding-left: 10%;
   padding-top: 2%;
   color: #424242;
   text-decoration: none;
   border-top-width: 1px;
   border-style: solid;
   border-color: #EAEAEA;
   font-size: 11px;
}
#fotter a:visited {
    color: #424242 !important;
}


@media all and (max-width: 600px) {
  .navigation{position: static;}
  
  .header{
    padding-left:1%;
    padding-right: 1%;
    padding-top:5%;
  }
  .content{
    margin-top: 3%;
  }
  .aboutme h1{
    padding-left:3%;
  }

  .linfo{
    height: 100%;
    float:none;
    width: 100%;
  }
  .rinfo h1{
    display: none;
  }
  .rinfo{
    height: 100%;
    float:none;
    width: 100%
  
  }
  .rskill{
    height: 100%;
    float:none;
    width: 100%
  
  }
  .lskill{
    height: 100%;
    float:none;
    width: 100%
  
  }
  
  .lcharacter{
    height: 100%;
    float:none;
    width: 100%
  
  }
  .rcharacter{
    height: 100%;
    float:none;
    width: 100%

}






