{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="top">


        <div class="top-left" style="width: 35%; float:left">
            <img src="/static/img/logo.svg" alt="Avatar" style="height:70px;">
        </div>

        <div class="top-right" style="width: 65%; float:right">
            <a href="google.pl"  style="text-decoration : none; ">|home </a>
            <a href="google.pl"  style="text-decoration : none; ">|portfolio </a>
            <a href="google.pl"  style="text-decoration : none; ">|resume </a>

        </div>
    </div>
    <div class="head">


    </div>
</div>


</body>
</html>